doctype html
html
  head
  
    title My Services
     style 
        include ./assets/style.css

  body
  nav
  ul
    li
      a(href="http://localhost:3003/contact") Contacts
    li
      a(href="http://localhost:3003") About
    li
      a(href="http://localhost:3003/services") Services

    
    h1.mine My Services
    ul
      li Web development
      li Mobile app development
      li UX design
